<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Admin  login</h1>
    <form class="js-form" >
        <input type="text" id="admin_username" name="admin_username">
        <input type="text" id="admin_password" name="admin_password">
        <input type="text" id="admin_confirm_password" name="admin_confirm_password">
        <input type="file" id="admin_profile_image" name="admin_profile_image">
        <button>Yuborish</button>
    </form>
    <script src="./utils.js"></script>
    <script src="./adminLogin.js"></script>
</body>
</html>