<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hide{
            display: none;
        }
        .show{
            display: block;
        }
    </style>
</head>
<body>

    <a href="/profile">Profile</a>

    <a class="js-link-payment hide" href="/shop-payment">Harid qilish <span class="js-shop-count"></span></a>

    <div class="products"></div>

    <script src="./utils.js"></script>
    <script src="./request.js"></script>
    <script src="./index.js"></script>
</body>
</html>