<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Login</h1>
    <form class="js-form">
        <input type="email" id="email" required>
        <input type="passswod" id="password" required>
        <input type="text" id="confirm_password">
        <button>Yuborish</button>
    </form>
    <script src="./utils.js"></script>
    <script src="./login.js"></script>
</body>
</html>