<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Register</h1>
    <form class="js-form">
        <input type="text" name="user_first_name" id="user_first_name" required>
        <input type="text" name="user_last_name" id="user_last_name" required>
        <input type="email" name="email" id="email" required>
        <input type="password" name="password" id="password" required>
        <input type="password" name="confirm_password" id="confirm_password" required>

        <input type="file" name="avatar" id="avatar">
        <button>Yuborish</button>
    </form>
    
    <script src="./utils.js"></script>
    <script src="./request.js"></script>
    <script src="./register.js"></script>
</body>
</html>